@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/*font-family: 'Playfair Display', serif;*/

@font-face {
    font-family: "Voga";
    src: url('../../utils/fonts/CDType_Voga-font-demo_031216/CDType\ -\ Voga\ Medium.otf') ;
}

.main-container{
    background-image: url(../../utils/img/purple-blue-wallpaper.webp);
    height: 100%;
}


.container-home{
    
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-home{
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 100;
    margin: 3% 0 3% 0;
}



.info-home1{
    font-family: 'Playfair Display ';
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 1% 0;
    color: rgba(177, 177, 177, 0.834) ;
}

.info-home2{
    font-family: 'Voga';
    font-size: 2em;
    margin: 0;
}

.photo-home{
    height: max-content;
    width: 40%; 
    margin-bottom: 3%; 
}

.photo-home img{
    width: 100%;
    
}


.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 150px;
	cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.267);
    margin-top: 3%;
  
}


.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
    letter-spacing: 2px;
}

.btn-one:hover{
    background-color: transparent;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
    background: transparent;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 3px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
    
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	/*background-color: rgba(255,255,255,0.1);*/
    background: transparent;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
    background: transparent;
}

@media screen and (min-width : 700px){
    
    .container-home{
        margin-top: 3%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .info-home{
        width: 60%; 
        align-items: flex-start;
        padding-left: 4% ;

    }

    .info-home1{
        font-size: 1.5em;
    }

    .info-home2{
        font-family: 'Voga';
        font-style: normal;
        font-size: 4em;
    }

    
    .photo-home{
        width: 60%; 
        margin: 3%; 
    }

    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0.267);
        margin-top: 3%;
      
    }

  


}
