@font-face {
    font-family: "alcubierre";
    src: url('../../utils/fonts/Alcubierre\ 400.otf') ;
}


h1{
    font-size: 2rem;
}

.main-container-about{ 
    background-image: url(../../utils/img/purple-blue-wallpaper.webp);

}


.container-about{
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        
}

.info-about{
    margin: 4%;
    background-color: rgba(245, 245, 249, 0.712);
    height: 100%;
    width: 50%;
    padding: 5%;
    text-align: center;
}

.info-about p{
    text-align: justify;
    line-height: 2;
    font-family: "alcubierre";
    font-style: normal;
    font-size: 1em;
    font-weight: 500;

}

h2{
    color: white;
    font-size: 30px;
}

.lc{
    border-top: 2px solid white;
    margin-bottom: 2%;
}

.container-contact{
   
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container-contact-icons{
    background-color:  rgba(245, 245, 249, 0.712);
    flex-direction: column;
    width: 100%;
}


.contact-icon{
    width: 50px;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    padding: 2%;
    background-color: white;
    border: 4px solid;
    border-image: linear-gradient(45deg,#ad22c9bf,#473068c5,rgba(187, 31, 218, 0.7),rgba(20, 20, 194, 0.805)) 1;
    animation: rotate 2.5s ease-in infinite;
}


@keyframes rotate {
    50%{
        border-image: linear-gradient(45deg,#ad22c9bf,#473068c5,rgba(187, 31, 218, 0.7),rgba(20, 20, 194, 0.805)) 1;

    }
}

.contact-icons:hover{
    transform: scale(1.1 , 1.1);
   
}

.contact-icons p {
    font-size: 0.7rem;
}

.line{
    border-top: 1.5px solid black;
    margin-bottom: 3%;
    color: transparent;
}


@media screen and (min-width:700px) {
    .info-about p{ 
        font-size: 1.5em;
        font-weight: 600;
    }

    .container-contact-icons{
        width: 60%;
        margin-bottom: 3%;
    }

    .contact-icons{
        flex-direction: row;
        justify-content: space-evenly;
    }


    .contact-icons p{
        width: 60%;
        font-family: 'alcubierre';
        font-style: normal;
        font-weight: 600;
    }
    
}